@model IEnumerable<İl_İlçe.Models.Iller>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">

    $("document").ready(function() {
        alert();
        $("#il").change(function () {
            var ilID = $(this).val();
          
            $.ajax({
                url: '@Url.Action("ilceGetir")',
                type: 'post',
                datatype: 'json',
                data: { Id: ilID },
                success: function (response) {
                    alert(JSON.stringify(response));
                    console.log(response);
                    $.each(response, function () {
                      
                        $("#ilce").append("<option value='"+this.ilceID+"'>"+this.Ilce+"</option>");
                    });
                }

            });
        });
    });

</script>



<h2>Index</h2>
<select name="il" >
    @foreach (var item in Model)
    {
        <option value="@item.IlID">@item.Il</option>
    }
</select>
<select id="ilce" name="ilce"></select>

