@model IEnumerable<ET.Models.category>
@foreach (var item in Model)
{
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><a href="@Url.Action("Products","Default",new {categoryId=item.categoryId })"> @item.categoryName</a></h4>
    </div>
</div>
}
